<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>리뷰 작성</h1>
    <form action="/addReview" method="POST">
        <input name="rating" placeholder="별점">
        <br>
        <textarea name="content" placeholder="내용"></textarea>
        <button type="submit">리뷰 등록하기</button>
    </form>
</body>
</html>